
    <p>添付されている画像の編集</p>
    

  <%= form_with(model: blog, data: { remote: false}) do |f| %>
    <%= f.label "記事のタイトル",for:"title" %>
    <%= f.text_field :title, class:"works-text", id:"title" ,placeholder:"記事のタイトル" %>
    <div>
      <p id="blog-new-info">記事編集時、削除したい画像はチェック入をれる</p>
      <div id="attached-image">
        <% blog.blog_images.each do |image| %>
          <div class="attached-image-box">
            <%= f.check_box :image_ids, {:multiple => true,:class => "image-check"}, image.id, false %>
            <%= image_tag image, :size=>"100x100" %> <br>
          </div>
          <%= f.hidden_field :blog_images, multiple: true, value: image.signed_id %>
        <% end %>
      </div>
        <p>画像を追加する</p>
        <%= f.label :blog_images %>
        <%= f.file_field :blog_images, multiple: true %>
    </div>
    
    <%= f.label "記事の内容1",for:"text_1" %>
    <%= f.text_area :text_1, class:"works-text", id:"text" ,placeholder:"記事の内容1" %>

    <%= f.submit "記事を登録" ,class:"works-text" %>
  <% end %>
