<div class="header">
  <%= render "shared/frist-header"%>
</div>
<div class="news-body">
  <div id="news-index-box">
    <%# ここから左辺の目次欄 %>
    <div class="index">
      <div class="index-title">
        News Index
      </div>
      <div class="index-contents">
          <%= render "shared/news_index"%>
        <div id="more-lists">
        </div>
      </div>
      <div id="next">
        <%= link_to_next_page @blogslist,'過去の記事を表示', :param_name => 'index' , remote: true, id: 'more-index'%>      
      </div>
    </div>
  </div>
  <%# ここからNews記事表示域 %>
  <div id="right-view">
    <div id="news-contents-show">
      <div class="blog-head">
        <div class="blog-date">
          <%= @blog.created_at.to_s(:date_jp) %>
        </div>
        <div class="blog-share">
          Shere.
          <%= link_to image_tag('facebook.png', class:"sns-rogo"),"http://www.facebook.com/share.php?u=#{request.url}",target: '_blank' %>
          <%= link_to image_tag('twitter.png', class:"sns-rogo"),"https://twitter.com/share?url=#{request.url}&text=#{@blog.title}&hashtags=コマドリハウス",target: '_blank' %>
          <% if @switch %>
            <div class="edit-menu">
              <%= link_to 'Edit' ,edit_blog_path("#{@blog.id}"),class:"edit-btn" %>
              <%= link_to 'Delete' ,blog_path("#{@blog.id}") ,method: :delete, class:"delete-btn" %>
            </div>
          <% end %>
        </div>
      </div>
        <div class="blog-title">
          <%= @blog.title %>
        </div>
        <% @blog.blog_images.each do |image| %>
            <%= image_tag(image, class:"blog-image") %>
        <% end %>
    <div class="profile-border">
    </div>
    <div id="mobile-blog-box">
      <div class="footer-area">
        <%= render "shared/footer"%>
      </div>
    </div>
  </div>
</div>


<div id="page_top" style="display: none;">
  Page Top
</div>
