<%= form_with(model: workbox, data: { remote: false}) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="works-form">
    <%= f.label "作品名",for:"title" %><span class="emphasis">必須</span>
    <%= f.text_area :title, class:"works-text", id:"image" ,placeholder:"Googleドライブの画像リンク" %>
    <%= f.label "作品の説明",for:"description" %>
    <%= f.text_area :description, class:"works-text", id:"text" ,placeholder:"作品の説明" %>
    <%= f.label "Youtubeのリンク",for:"youtube" %>
    <%= f.text_area :youtube, class:"works-text", id:"form-youtube" ,placeholder:"youtubeのリンク" %>
    画像の選択
    <%= f.label :images %>
    <%= f.file_field :images ,multiple: true %>
      <% workbox.images.each_with_index do |image,index| %>
        <div class="check">
          <%= check_box_tag "del#{index}",image.signed_id %>
        <div>
        <%= f.hidden_field :"del#{index}", multiple: true, value: image.signed_id %>
        <%= image_tag(image ,width:100) %>
      <% end %>
      
      <div class="inner-box">
        <%= f.label "制作年",for:"created_year" %> 
        <%= f.text_field :created_year, class:"works-text", id:"year" ,placeholder:"2021", maxlength:"4" %>
      </div>
      <div class="inner-box">
        <%= f.label "作者名",for:"artist_id" %><span class="emphasis">必須</span>
        <%= f.collection_select(:artist_id, Creater.all, :id, :name, {}, {class:"works-text", id:"artist"}) %>
      </div>
      <div class="inner-box">
        <%= f.label "ジャンル",for:"type_id" %><span class="emphasis">必須</span>
        <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"works-text", id:"type-id"}) %>  
      </div>
    </div>
    <%= f.submit "作品を登録" ,class:"works-text" %>
  </div>
  <% end %>