<% @blogs.each do |blog| %>
    <div class="blog-head">
      <div class="blog-date">
        <%= blog.created_at.to_s(:date_jp) %>
      </div>
      <div class="blog-share">
        Shere.
        <%= link_to image_tag('facebook.png', class:"sns-rogo"),"http://www.facebook.com/share.php?u=#{request.url}",target: '_blank' %>
        <%= link_to image_tag('twitter.png', class:"sns-rogo"),"https://twitter.com/share?url=#{request.url}&text=#{blog.title}&hashtags=コマドリハウス",target: '_blank' %>
        <% if @switch %>
          <div class="edit-menu">
            <%= link_to 'Edit' ,edit_blog_path("#{blog.id}"),class:"edit-btn" %>
            <%= link_to 'Delete' ,blog_path("#{blog.id}") ,method: :delete, class:"delete-btn" %>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to(blog_path(blog.id) , remote: false ) do %>
      <div class="blog-title">
        <%= blog.title %>
      </div>
      <% blog.blog_images.each do |image| %>
          <%= image_tag(image, class:"blog-image") %>
      <% end %>
      <div class="blog-text">
        <%= blog.text_1 %>
      </div>
    <% end %>
    <div class="profile-border">
    </div>
<% end %>