<div class="header">
  <%= render "shared/frist-header"%>
</div>
<div class="body">
  <%# ここから左辺の目次欄 %>
  <%= render "shared/works_index"%>
  <%# ここからメインコンテンツ表示域 %>
  <div class="works-contents">
    <div class="selected-works">
      All Works<div class="each-menu"><%= render 'shared/each-menu' %></div>
    </div>
    
    
      <%= render 'shared/contents-body'%>

   </div>
</div>
<div class="footer-area">
  <%= render "shared/footer"%>
</div>