<div class="header">
  <%= render "shared/frist-header"%>
</div>
<div class="work-lists">
  
    <% @workslist.each do |work| %>
      <div class="work">
        <div class="item id">
          <%= link_to Creater.find(work.artist_id).name ,edit_work_path(work.id) %>
        </div>
        <div class="item text">
          <%= link_to work.title ,edit_work_path(work.id) %><%= link_to work.created_year ,work_path(work.id),class:"year" %>
        </div>
        <div class="item image">
          <%= link_to image_tag("http://drive.google.com/uc?export=view&id=#{work.image}",class:"item-image") ,work_path(work.id) %>
        </div>
        <div class="item">
          <div class="list-description-box">
            <%= link_to work.description ,work_path(work.id) %>
          </div>
        </div>
      </div>
    <% end %>
  <div class="paginate-list">
    <%= paginate @workslist, :param_name => 'list' %>
  </div>
</div>
<div class="footer-area">
  <%= render "shared/footer"%>
</div>