<div class="header">
  <%= render "shared/frist-header"%>
</div>
<div class="profile">
  <div id="about">
    <span class="text-title">
      <span class="brand">コマドリハウス</span>とは<br><br>
    </span>
    <span class="main-text">
      創作活動を行うアーティストグループです。<br>   
      もともとは、コマドリアニメーションを制作するグループから始まりました。<br>
      人の活動は全てが表現活動であり、社会的な行動だと言えます。<br>
      どんな人でもアーティストでありうると私たちは考えています。<br>
      現在、コマドリハウスではアニメーションのみならず、日常生活で生まれる<br>
      イラスト、デザイン、WEBアプリケーション制作、彫刻、絵画など様々な制作活動を行っています。<br>
    </span>
  </div>
  <div id="about-artists">
    <div id="artists-title-box">
      <div class="artists-title">
        Artists
      </div>
      <div id="artists-border">
      </div>
    </div>

    <div class="artist-profile">
      <div class="artist-head">
        <%= image_tag("takuya.png", class:"artist-image") %>
        <div class="artist-head-text profile-right">
          <div class="profile-name">
            おの たくや
          </div>
          <div class="artist-status">
            アニメーション、デザイン、彫刻、イラスト<br>
            Webアプリケーション開発などを行う。<br><br>
            2011年  NHKミニミニ映像大賞 入選<br>
            2006年  江戸川伝統工芸プロジェクト 銀賞<br>
          </div>
        </div>
      </div>
      <div class="artist-overview">
        東京造形大学 美術学科 彫刻専攻 卒業<br>
        2008年 私立 自由の森学園中学・高等学校で美術(木工)の実習助手を４年間担当<br>
        2013年 特定非営利活動法人 自立応援団で障害福祉事業に従事、現在に至る。<br>
        2021年 社会福祉士の国家資格を取得。
      </div>
    </div>

    <div class="profile-border">
    </div>

    <div class="artist-profile">
      <div class="artist-head">
        <div class="artist-head-text profile-left">
          <div class="profile-name">
          小野 惇子
          </div>
          <div class="artist-status">
          イラスト、絵画、デザイン、彫刻作品などの制作を行う。<br><br>
          </div>  
        </div>
        <%= image_tag("atsuko.png", class:"artist-image image-right atsuko-image") %>
      </div>
      <div class="artist-overview">
        東京造形大学 美術学科 彫刻専攻 卒業<br>
      </div>
    </div>

    <div class="profile-border">
    </div>

    <div class="artist-profile">
      <div class="artist-head">
        <%= image_tag("kinari.png", class:"artist-image") %>
        <div class="artist-head-text profile-right">
          <div class="profile-name">
            Kinari
          </div>
          <div class="artist-status">
            昆虫や生物のイラストや立体作品などを制作している。<br>
            オリジナルの妖怪を考案することもある。<br>
            現在小学５年生<br><br>
          </div>
        </div>
      </div>
      <div class="artist-overview">
        鯨、恐竜、昆虫、妖怪などあらゆる生物に興味をもっている。<br>
        昆虫は国産、外国産含め、現在20匹程を飼育、繁殖を行っている。<br>
        妖怪は、水木しげる にインスパイアされている。
      </div>
    </div>

  </div>
</div>
<div class="footer-area">
  <%= render "shared/footer"%>
</div>
<div id="page_top" style="display: none;">
  Page Top
</div>