<div class="header">
  <%= render "shared/frist-header"%>
</div>
<div class="work-lists">
<div class="form-menu">
  <%= render "shared/form-menu" %>
</div>
  
    <% @mails.each do |mail| %>
      <div class="work">
        <div class="item id">
          <%= mail.name %>
        </div>
        <div class="item text">
          <%= mail.email %>
        </div>
        <div class="item image">
          <%= mail.ip_address %>
        </div>
        <div class="item image">
          <%= mail.text %>
        </div>
        <div class="item">
          <div class="list-description-box">
            <%= mail.created_at %>
          </div>
        </div>
      </div>
    <% end %>
  <div class="paginate-list">
    <%= paginate @mails, :param_name => 'mail' %>
  </div>
</div>
<div class="footer-area">
  <%= render "shared/footer"%>
</div>
