<div class="header">
  <%= render "shared/frist-header"%>
</div>

<div class="body">
  <%# ここから左辺の目次欄 %>
  <%= render "shared/works_index"%>
  <%# ここからメインコンテンツ表示域 %>
  <div class="works-contents">
    <div class="selected-works" id="selected-works">
      <div id="body-info">
        <%= @body_info %>
      </div>
      <span class="artist-menu" id="artist-menu">
        アーティスト別
      </span>
      <span class="artist-menu" id="type-menu">
        カテゴリー別
      </span>
      <%= render 'shared/master-menu'%>
      <%= render 'shared/type-menu'%>
      <%= render 'shared/creater-type-menu'%>
    </div>
      
    <div class="contents-body" id="contents-body">
        <%= render 'shared/contents-body' %>
    </div>
    <div id="next-contents">
      <%= link_to_next_page @works,'もっと見る', :param_name => 'contents' , remote: true, id: 'more-contents'%>
    </div>
  
    <div class="footer-area">
      <%= render "shared/footer"%>
    </div>
  </div>
</div>
<div id="page_top" style="display: none;">
  Page Top
</div>