<div class="header">
  <%= render "shared/frist-header"%>
</div>
<div class="body">
  <%# ここから左辺の目次欄 %>
  <div class="index">
    <div class="index-title">
      Works Index
    </div>
    <div class="index-contents">
      <ul class="contents-lists">
        <li class="contents-list">
          <span class="title-work">作品名</span><span class="date-work">2021</span>
        </li>
        <li class="contents-list">
          <span class="title-work">作品名</span><span class="date-work">2021</span>
        </li>
        <li class="contents-list">
          <span class="title-work">作品名</span><span class="date-work">2021</span>
        </li>
      </ul>
    </div>
  </div>
  <%# ここからメインコンテンツ表示域 %>
  <div class="works-contents">
    <div class="selected-works">
      All Works
    </div>
    <div class="contents-body">

      <div class="content">
        <div>
          <%= image_tag('buntyo.jpg',class:"content-image") %>
        </div>
        <div class="content-title">
          <span class="title-work">作品名</span><span class="date-work">2021</span>
        </div>
      </div>

      <div class="content">
        <%= image_tag('furinka.jpg',class:"content-image") %>
        <div class="content-title">
          <span class="title-work">作品名</span><span class="date-work">2021</span>
        </div>
      </div>

      <div class="content">
        <%= image_tag('kinariiro.png',class:"content-image") %>
        <div class="content-title">
          <span class="title-work">作品名</span><span class="date-work">2021</span>
        </div>
      </div>

      <div class="content">
        <%= image_tag('http://drive.google.com/uc?export=view&id=1gp8ovpCiIhE9krYvi3x1hHRVYs7dmrwa',class:"content-image") %>
        <div class="content-title">
          <span class="title-work">作品名</span><span class="date-work">2021</span>
        </div>
      </div>

      <div class="content">
        <div class="content-image">
        </div>
        <div class="content-title">
          <span class="title-work">作品名</span><span class="date-work">2021</span>
        </div>
      </div>

      <div class="content">
        <div class="content-image">
        </div>
        <div class="content-title">
          <span class="title-work">作品名</span><span class="date-work">2021</span>
        </div>
      </div>

      <div class="content">
        <div class="content-image">
        </div>
        <div class="content-title">
          <span class="title-work">作品名</span><span class="date-work">2021</span>
        </div>
      </div>

      <div class="content">
        <div class="content-image">
        </div>
        <div class="content-title">
          <span class="title-work">作品名</span><span class="date-work">2021</span>
        </div>
      </div>

    <div>
  </div>
</div>