<div class="header">
  <%= render "shared/frist-header"%>
</div>
<div class="body">
  <%# ここから左辺の目次欄 %>
  <%= render "shared/works_index"%>
  <%# ここからメインコンテンツ表示域 %>
  <div class="works-contents">
    <div class="selected-works">
      All Works
    </div>
    <div class="contents-body" id="contents-body">
      <%= render 'shared/contents-body'%>
    </div>
    <div id="next-contents">
      <%= link_to_next_page @works,'もっと見る', :param_name => 'contents' , remote: true, id: 'more-contents'%>
    </div>
   </div>
</div>
<div class="footer-area">
  <%= render "shared/footer"%>
</div>