<div id="contact-message">
  <%= render 'contacts/success'%>
</div>
<div id="contactbox">
  <%= render 'contacts/contact_form' %>
</div>
<header class='frist-header'>

  <div id="menuopen-btn">
    <div id="openbtn-top" class="openbtn">
    </div>
    <div id="openbtn-center" class="openbtn cb">
    </div>
    <div id="openbtn-bottom" class="openbtn cb">
    </div>
  </div>
    <div id="menu">
    <ul>
      <li class="menu-font" id="news-btn"><%= link_to "News",root_path %></li>
      <li class="menu-font" id="works-btn"><%= link_to "Works",works_works_path %></li>
      <li class="menu-font" id="profile-btn"><%= link_to "Profile",profile_works_path %></li>
      <li class="menu-font" id="contact-btn">Contact</li>
      <li class="menu-font" id="link-btn"><%= link_to "Link" ,link_works_path %></li>
    </ul>
  </div>
  <div id="mobile-menu-area">
    <div id="mobile-menu" style="display: none;">
      <ul>
        <%= link_to(root_path) do %>
          <li class="menu-font">News</li>
        <% end %>
          <li><div class="mobilemenu-border"></div></li>
        <%= link_to(works_works_path) do %>  
          <li class="menu-font">Works</li>
        <% end %>
          <li><div class="mobilemenu-border"></div></li>
        <%= link_to(profile_works_path) do %>  
          <li class="menu-font">Profile</li>
        <% end %>
          <li><div class="mobilemenu-border"></div></li>
          <li class="menu-font" id="contact-btnm">Contact</li>
          <li><div class="mobilemenu-border"></div></li>
        <%= link_to(link_works_path) do %>
          <li class="menu-font">Link</li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="title-info">
    <%= link_to image_tag('komadorihouse_kana.png',id:"rogo-kana" ),'/' %>
    <%= link_to image_tag('old_rogo_Black_close.png',id:"rogo-close" ),'/' %>
  <div class="info">
      <div class="info-text">
          <%= @info %>
      </div>
    </div>
  </div>
    <% if current_page?(action: 'index', controller:'works') %>
      <%= image_tag("news.png",id:"nomal",class:"image-area-rogo") %>
    <% elsif current_page?(action: 'works', controller:'works') %>
      <%= image_tag("works.png",id:"nomal",class:"image-area-rogo") %>
    <% elsif current_page?(action: 'profile', controller:'works') %>
      <%= image_tag("profile.png",id:"nomal",class:"image-area-rogo") %>
    <% elsif current_page?(action: 'link', controller:'works') %>
      <%= image_tag("link.png",id:"nomal",class:"image-area-rogo") %>
    <% else %>
      <%= image_tag("works.png",id:"nomal",class:"image-area-rogo") %>
    <% end %>
      <%= image_tag("works.png",id:"works",class:"image-area-rogo",style:"display: none;") %>
      <%= image_tag("profile.png",id:"profile",class:"image-area-rogo",style:"display: none;") %>
      <%= image_tag("contact.png",id:"contact",class:"image-area-rogo",style:"display: none;") %>
      <%= image_tag("link.png",id:"link",class:"image-area-rogo",style:"display: none;") %>
      <%= image_tag("news.png",id:"news",class:"image-area-rogo",style:"display: none;") %>
</header>