<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>Komadorihouse</title>
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:title" content="Komadorihouse">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:image" content="https://komadorihouse.herokuapp.com/assets/old_rogo_Black_close-ff206d8ca838832f765d8cddd628872e27c42fa64fab031864bf36221d04d492.png">
    <meta property="og:site_name" content="コマドリハウス">
    <meta property="og:description" content="<%= @description %>">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
